<h1 class="header">Dashboard</h1>

<h2> Your devices </h2>
<% if family_signed_in? %>
<%= link_to "Add a device", new_device_path, class: "btn btn-primary" %>
<% end %>
<br><br>
<div class="ajax"><%= render 'devices' %></div>
