<h1 class="page-header"><%= @device.name %></h1>

<%= link_to "Back" , devices_path ,class: "btn btn-link"%>
<% if current_user.admin? %>
<%= link_to "Remove", @device , method: :delete,class: "btn btn-link" %>
<% end %>