<h1 class="page-header"> About Us</h1>
<p> This is a web app to automate your home with our product Chronos. </p>
<p>We are a group of students from IIT Madras who are enthusiastic about developing better technologies to make our daily life easier. This app is a fruit of our hardwork and determination to achieve our goal.</p>
<h3 class="page-header"> We are </h2>
	<ul class="inline">
		<li>Akshit Kumar</li>
		<li>Kushal Kakkad</li>
		<li>Sourya Varenya</li>
		<li>Sourav Debnath</li>
		<li>Vishnu Raj</li>
	</ul>
